<div id="moderator_notice_area"><span id="moderator-name" class="magenta"><%= @chat_item.name %></span><span class="magenta">:</span> <span id="moderator-notice"><%= @chat_item.content %></span></div>