<h1>Totale</h1>

<h1>POV Avatar 1</h1>
<iframe height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/pov?avatar_id=1"></iframe>

<h1>Chat Avatar 1</h1>
<iframe height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/chat?avatar_id=1"></iframe>

<h1>POV Avatar 2</h1>
<iframe height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/pov?avatar_id=2"></iframe>

<h1>Chat Avatar 2</h1>
<iframe height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/chat?avatar_id=2"></iframe>