/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


/* reset and general styling */

* {
	margin:0;
	padding:0;
	font-family: "Roboto slab", sans-serif;
}

p {
	margin-bottom: 2px;
}

div.container {
	width: 100%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
	box-sizing: border-box;
	padding: 10px;
	font-family: "Roboto slab", sans-serif;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border: solid 5px #969696;
}

/* pov */

iframe {
	width: 100%;
}

/* admin */

textarea {
	width:50%;
	min-height: 6em;
}

/* suggestion and name input */

#suggestion_input_form p {
	padding: 10px;
}

#display_user_name {
	color: #e71660;
}

#new_name_button {
	font-size: 70%;
	cursor: pointer;
	text-decoration: underline;
	color: #aaa;
}

#name_container {
	display: none;
}

#suggestion_message {
	padding: 10px;
	color: #e71660;
}

/* suggestions list with voting*/

#suggestions_container {
	min-height: 5em;
}

#suggestions_top ul {
	list-style-type: none;
}

#suggestion_transmit, #suggestions_top ul li {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.suggestion_details {
	font-size: 0.75em;
	color: #aaa;
}

.suggestion_details input[type="button"] {
	min-height: 1em;
}

.small_countdown {
	color: #aaa;
}

.warning {
	color: #e71660;
}


/* moderator notice */

#moderator_container {
}

#moderator_container p {
	padding: 10px;
}

.moderator-name {
	color: #e71660;
}