body {
  font-size: 28px;
}

h3 {
	font-size: 1em;
}

.container {
	padding: 20px;
}

.welcome_column {
	width: 310px;
	float: left;
}

#highscore_container, #welcome_container {
	width: 258px;
}

.fix_embed, #pov_embed {
	width: 620px;
	height: 400px;
	margin-bottom: 0px;
}

#sdn {
	width: 620px;
	height: 400px;
}




.stream_column {
	float: left;
	width: 672px;
}

#chat_container {
	width: 390px;
	height: 852px;
}

#suggestions_new {
	height: 400px;
	
}

#suggestions_new table {
	bottom: 10px;
}

.chat_details {
	width: 190px;
	font-size: 0.7em;
}

.chat_content {
	width: 450px;
}

.chat_status {
	width: 190px;
}

#avatar_container {
	width: 390;
	height: 852px;
}

#suggestions_top {
	width: 370px;
}