body {
  font-size: 28px;
}

h3 {
	font-size: 1em;
}

.container {
	padding: 20px;
}

.welcome_column {
	width: 310px;
	float: left;
}

#highscore_container, #welcome_container {
	width: 258px;
}

.chat_column {
	float: left;
	width: 464px;
}

#suggestions_container {
	width: 410px;
	height: 450px;
}

#suggestions_top {
	width: 390px;
}

#chat_container {
	width: 410px;
	height: 450px;
	padding-right: 20px;
}

#suggestions_new {
	height: 440px;	
}

#suggestions_new table {
	bottom: 10px;
}

.chat_details {
	width: 100px;
	font-size: 0.7em;
}

.chat_content {
	width: 390px;
}

.chat_status {
	width: 190px;
}


.stream_column {
	float: left;
	width: 672px;
}

.fix_embed, #pov_embed {
	width: 660px;
	height: 450px;
	margin-bottom: 0px;
}

#sdn {
	width: 660px;
	height: 420px;
}

#sdns {
	width: 660px;
	height: 30px;
}








