h3 {
	font-size: 1em;
}

.welcome_column {
	width: 180px;
	float: left;
}

#highscore_container, #welcome_container {
	width: 150px;
}

#chat_container {
	width: 360px;
	height: 320px;
}

#suggestions_new {
	height: 260px;
}

#suggestions_new table {
	bottom: 40px;
}

.chat_details {
	width: 90px;
	font-size: 0.7em;
}

.chat_content {
	width: 230px;
}

.chat_status {
	width: 100px;
}

span.suggestion_label {
	font-size: 0.9em;
	position: absolute;
	bottom: 10px;
	left: 12px;
	color: #aaa;
	width: 100px;
	word-break: break-all;
}

#suggestion_input {
	position: absolute;
	bottom: 10px;
	left: 80px;
	font-size: 0.9em;
	width: 160px;
}

#suggestion_submit {
	position: absolute;
	bottom: 11px;
	left: 308px;
}

#avatar_container {
	width: 280px;
	height: 320px;
}

#suggestions_top {
	width: 260px;
}

.empty_message {
	width: 150px;
	font: 0.8em;
	margin-top: 50px;
}