<!DOCTYPE html>
<html>
<head>
  <title>AvatarChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>  

</head>
<body>

<%= yield %>

</body>
</html>
